*{
    margin:0;
    padding:0;
}
h1, h2, h3, h4, p, li {
    font-family: 'Quicksand', sans-serif;
    color:#3a4d5c;
}
li {
    font-size:13px;
    margin:5px;
}
.box{
    display:flex;
    justify-content:center;
    align-items:center;
    width:1200px;
    height:1000px;
    background-color:#efefef;
}
.block_glavn{
    display:flex;
    height:600px;
    width: 800px;
    align-items:center;
    justify-content: center;
    position:relative;
}
.block_left{
    display:flex;
    justify-content: center;
    background-color:#37b0ae;
    width:45%;
    height:80%;
    margin:8% 0 8% 5%;
}
.block_left-img{
   object-fit:cover;
    transform: translate(-50px, 60px);
}
.block_left-img img{
    width:350px;
}
.block_center{
    width:100px;
    height:270px;
    position:absolute;
}
.block_right{
    padding:20px;
    background-color:white;
    width:50%;
    height: 89%;
    justify-content: space-around;
}
ul{
    list-style:none;
}
li::before{
    content:"•";
    color:green;
    padding:0 7px 0 12px;
}

.block_right h1{
    padding:20px 0 0 20px;
}
.block_right h3{
    padding:0 0 10px 20px;
}
.block_right h4{
    padding:30px 0 0 20px;
}
.block_right p{
    padding:5px 0 5px 33px;
}
.block_right__IN {
    padding:20px 0 0 20px;
}
.img_verh{
    box-shadow:	0 0 13px black;
    object-fit:contain;
    margin-top:10px;
    width:70px;
    height:70px;
    background-size: cover;
}
.img_verh:hover{
    transform: scale(8);
    right: 200px;
    top: 87px;
    position: relative;
    background: white;
    width: 60px;
    height: 75px;
    box-shadow:	0 0 1px black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_center{
    box-shadow:	0 0 13px black;
    object-fit:contain;
    margin-top:10px;
    width:70px;
    height:70px;
    background-size: cover;

}
.img_center:hover{
    transform: scale(8);
    right: 200px;
    top: 7px;
    position: relative;
    background: white;
    width: 60px;
    height: 75px;
    box-shadow:	0 0 1px black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_niz{
    box-shadow:	0 0 13px black;
    margin-top:10px;
    width:70px;
    height:70px;

}
.img_niz:hover{
    transform: scale(8);
    right: 200px;
    top: -72px;
    position: relative;
    background: white;
    width: 65px;
    height: 75px;
    box-shadow:	0 0 1px black;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_verh img, .img_center img{
    width: 100%;
    transition:.5s;
}

.img_niz img{
    margin: 10px;
    width: 80%;
}

table{
   border-collapse: collapse;
    margin:10px 0 20px 20px;
}
tr, th{
border:1px solid black;
 width:25px;
    height: 25px;
}
.znak:hover{
    background:grey;
    color:white;
}
.block_right__Add{
    display:flex;
    justify-content: space-around;
    padding:25px 0 0 0 ;
}
.block_right__Add_Cart{
    display:flex;
    background-color:#37b0ae;
    width:40%;
    align-items:center;
    justify-content:center;
}
.block_right__Add_Cart:hover{
    background-color:grey;
    color:black;
}
p.block_right__Add_Cart{
    color:white;
    padding:5px;
}

.block_right__Add_List{
    display:flex;
    border:1px solid black;
    width:40%;
    align-items:center;
    justify-content:center;
}
.block_right__Add_List:hover{
    background-color:grey;
}
p.block_right__Add_List{
    padding:5px;
}
p.block_right__Add_List:hover{
    color:white;
}
p.logo{
    position:absolute;
    color:white;
    right: 205px;
    top: -47px;
    font-family: 'Blinker', sans-serif;
    font-weight:700;
}